*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #E5E5E5;
}

nav {
    width: 1440px;
    height: 199px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    padding: 40px 180px;
    gap: 540px;
    
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.04);
}

div{
    display: flex;
    background-color: white;
    flex-direction: row;
    align-items: center;

    width: 450px;
    height: 61px;
    padding: 8px 16px;
    gap: 18px;

    border: 0.5px solid rgba(96, 96, 96, 0.3);
    border-radius: 9px;
}

#searchbar {
    font-family: 'Montserrat';
    font-style: normal;
    font-size: 20px;
    color: rgba(96, 96, 96, 0.6);
}


